<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@Litteeen</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Litten</string>
            <key>user</key>
            <string>Litteeen</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>sh.litten.aesteapreferences</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>sh.litten.aesteapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Toggle Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>sh.litten.aesteapreferences</string>
				<key>key</key>
				<string>airplaneColor</string>
				<key>fallback</key>
				<string>#147efb</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Airplane</string>
			<key>key</key>
			<string>airplaneColor</string>
			<key>PostNotification</key>
			<string>sh.litten.aesteapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>sh.litten.aesteapreferences</string>
				<key>key</key>
				<string>cellularColor</string>
				<key>fallback</key>
				<string>#147efb</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Cellular</string>
			<key>key</key>
			<string>cellularColor</string>
			<key>PostNotification</key>
			<string>sh.litten.aesteapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>sh.litten.aesteapreferences</string>
				<key>key</key>
				<string>wifiColor</string>
				<key>fallback</key>
				<string>#147efb</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Wifi</string>
			<key>key</key>
			<string>wifiColor</string>
			<key>PostNotification</key>
			<string>sh.litten.aesteapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>sh.litten.aesteapreferences</string>
				<key>key</key>
				<string>bluetoothColor</string>
				<key>fallback</key>
				<string>#147efb</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Bluetooth</string>
			<key>key</key>
			<string>bluetoothColor</string>
			<key>PostNotification</key>
			<string>sh.litten.aesteapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>sh.litten.aesteapreferences</string>
				<key>key</key>
				<string>airdropColor</string>
				<key>fallback</key>
				<string>#147efb</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>AirDrop</string>
			<key>key</key>
			<string>airdropColor</string>
			<key>PostNotification</key>
			<string>sh.litten.aesteapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>sh.litten.aesteapreferences</string>
				<key>key</key>
				<string>hotspotColor</string>
				<key>fallback</key>
				<string>#147efb</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Hotspot</string>
			<key>key</key>
			<string>hotspotColor</string>
			<key>PostNotification</key>
			<string>sh.litten.aesteapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Design</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@74k1_</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>taki</string>
            <key>user</key>
            <string>74k1_</string>
        </dict>

		<!-- Support Me -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support Me</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Little Donation 🌺</string>
			<key>subtitle</key>
			<string>Helps Me To Pay For My Server</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Feature Request? ✨</string>
			<key>subtitle</key>
			<string>Send Me An Email With Your Request</string>
			<key>url</key>
			<string>mailto:hello@litten.sh?subject=Aestea%20Feature%20Request</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code 🌙</string>
			<key>subtitle</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Aestea</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Found A Bug? 🌧</string>
			<key>subtitle</key>
			<string>Leave A Bug Report Here</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Aestea/issues/new</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Aestea By Litten, Made With ❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>

	</array>
	<key>title</key>
	<string>Aestea</string>
</dict>
</plist>
